[["att-site-1" :site/url "https://www.att.com" 1 :add]
 ["att-site-1" :site/checked-at "2026-07-18" 1 :add]
 ["att-site-1" :site/http-status 200 1 :add]
 ["att-site-1" :site/title "AT&amp;T Official Site | Our Best Wireless &amp; Internet Service" 1 :add]
 ["att-site-1" :site/description "Get our best deals on phones and internet, backed by the AT&amp;T Guarantee. Explore the new iPhone 17, get 24/7 support, pay bills, and manage your account online." 1 :add]]
